.loader {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    border: 3px dashed mediumslateblue;
    animation: rotate .2s infinite alternate;
    position: absolute;
    top:calc(50% - 120px);
    left: calc(50% - 50px);
}

@keyframes rotate {
    from {
        transform: rotate(0deg) scale(1);
    }
    to {
        transform: rotate(360deg) scale(1.3);
    }
}