* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style: none;
    color: mediumslateblue;
    font-family: "Roboto", sans-serif;
}

.App {
    background: #2f2f2f;
    text-align: center;
    width: 100vw;
   height: 100vh;
}

.fade{
    transition: 0.3s;
    opacity:0;
}

