.menu{
    display: flex;

}
.options{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 100px;
    background-color: #1d1d1d;
    width: auto;
    padding:20px 100px;
    border-radius: 5px;
}